@import url();

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 80%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Trebuchet MS", sans-serif;
}

p{
    font-family: system-ui, sans-serif;
}

a{
    font-family: system-ui, sans-serif;
    
}